@charset "utf-8";

/* swiper style */
.swiper-container {
    width: 100%;
}
.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    border-radius: 0%;
    background: #111;
    opacity: 0.7;
  }
  .swiper-pagination-bullet-active{
    background: white;
    opacity: 1;
  }

/* section area start */
/* content_title area start */
.content_title{
    overflow: hidden;
    position: relative;
    width: 100%;
    padding : 20px 0;
}
.content_title h2{
    position : absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #111;
}
.content_title ul{
    display : flex;
    justify-content: center;
}
.content_title ul li{
    display: inline-block;
    margin : 0 20px;
}
.content_title ul li a{
    font-size: 18px;
    color : #111;
}
.content_title ul li a:hover{
    color : #666;
}
/* content_title area end */

section{
    width: 100%;
    overflow : hidden;
    margin-bottom: 100px;
}
section:nth-of-type(2){
    margin-bottom: 10px;
}
section:last-of-type{
    margin-bottom: 150px;
}
section h3{
    display: inline-block;
    font-size: 22px;
    margin-bottom: 20px;
    color : #111;
}
section > a{
    float : right;
    font-size: 14px;
    color : #666;
}
section .banner{
    width: 100%;
    overflow : hidden;
}
section .banner img{
    width: 100%;
}
section .banner video{
    width: 100%;
}
.text_area{
    text-align: center;
}
/* men title */
.text_area h2{
    font-size: 40px;
    font-weight: bold;
    margin: 30px 0 15px;
    color: #111;
}
/* men sub text */
.text_area p{
    font-size: 18px;
    margin-bottom: 15px;
    color: #111;
}

/* common btn style */
.text_area a{
    display: inline-block;
    border-radius: 22px;
    padding : 10px 20px;
    margin-right: 3px;
    background: #111;
    color : #fff;
    transition : 0.3s;
}
.text_area a:hover{
    opacity: 0.7;
}
.text_area a:last-child{
    margin-right: 0;
}
/* btn_group */
.btn_group{
    display : inline-block;
}
.btn_group{
    overflow: hidden;
}
.btn_group .left_btn{
    float : left;
    margin-right: 7px;
}
.btn_group .btn_sub{
    float : right;
}
.btn_group .btn_sub a{
    margin-bottom: 5px;
    transition : 0s;
}
.btn_sub a:nth-of-type(2), .btn_sub a:nth-of-type(3){
    visibility: hidden;
    opacity: 0;
}
.btn_group .btn_sub a.visible{
    visibility: visible;
    opacity: 1;
}
/* section area end */

/* section swiper, item area start */
.item_wrap .item a img{
    width: 100%;
}
.item_text{
    margin-bottom: 36px;
}
.item_text h5{
    font-size: 14px;
    margin-top: 20px;
    color : #666
}
/* swiper title */
.item_text h4{
    font-size: 20px;
    font-weight : bold;
    margin : 10px 0;
    color: #111;
}
/* swiper sun text */
.item_text p{
    font-size: 14px;
    margin-bottom: 5px;
    color : #666;
}
.item span{
    position : absolute;
    font-size: 16px;
    top: 40px;
    left: 40px;
    color: #111;
}
/* section swiper, item area end */

/* media query */
@media screen and (max-width : 960px){
    .content_title h2{
        position : static;
        transform: translateY(0%);
    }
    .content_title ul{
        display : block;
    }
    .content_title ul li{
        margin : 0 10px;
    }
    .content_title ul li:first-child{
        margin-left: 0;
    }
}

@media screen and (max-width : 640px){
    .text_area{
        text-align: left;
        word-break: keep-all;
    }
    .text_area h2{
        font-size: 30px;
    }
    .text_area p{
        font-size: 14px;
        margin-bottom: 15px;
    }
    /* common btn style  */
    .text_area a{
        font-size: 12px;
        margin: 3px;
    }
}

@media screen and (max-width : 480px){
    .content_title h2{
        font-size: 18px;
    }
    .content_title ul li{
        margin : 0 5px;
    }
    .content_title ul li a{
        font-size: 14px;
    }
    /* .btn_sub */
    .btn_group .btn_sub{
        float : none;
    }
}

@media screen and (max-width : 363px){
    .content_title h2{
        font-size: 16px;
    }
    .content_title ul{
        min-width: 241px;
    }
    .content_title ul li{
        margin : 0 3px;
    }
    .content_title ul li a{
        font-size: 12px;
    }
}